h3{
    font-family: 'Maven Pro', sans-serif;
}
p{
    font-family: 'Maven Pro', sans-serif;
}
.btn{
    font-family: 'Maven Pro', sans-serif;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    color: #fff;
    text-align: center;
    opacity: .5;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
}