.container {
    width: 800px;
    font-family: 'Maven Pro', sans-serif;
    position: center;
}

.formcontainer{
    text-align: left;
}
.regicontainer{
    width: 500px;
    position: relative;
    left: 20%;
}