
footer{
    background-color: dodgerblue;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}
a{
    color: white;

}
.footerrow{
    background-color: darkblue;
    width: auto;
    opacity: .4;
    
}
ul{
    color: white;
}
